html,
body {
  margin: 0px;
  overflow-x: hidden;
}

#gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  z-index: -10;
}

.nav {
  margin: 0px auto;
  display: flex;
  list-style: none;
  align-items: center;
  width: 1210px;
  height: 156px;
}

.logo {
  margin-right: 12px;
  margin-left: 20px;
}

.header_right {
  display: flex;
  width: 892px;
}

.menu {
  padding: 0px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 403px;
  margin-left: 10px;
}

.menu li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
}

.actions {
  margin-left: 53px;
  display: flex;
  width: 426px;
  height: 54px;
}

#email_input {
  width: 273px;
  outline: none;
  border: none;
  padding: 13px 36px;
  border: #ffffff solid;
  border-radius: 30px;
}

#email_input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 0.1px;

  /* Background */

  color: #18171d;
}

#subscribe_button {
  max-width: 141px;
  outline: none;
  border: none;
  border: #ffffff solid;
  border-radius: 30px;
  margin-left: 12px;
  padding: 0px 31px;
  color: #2091f9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  background-color: #ffffff;
  color: #2091f9;
  text-align: center;
}

.text_content {
  height: 193px;
  margin: 101px auto 0px;
  width: fit-content;
}

.text_content * {
  margin: 0 auto;
  width: fit-content;
}

.h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;

  /* Light text */

  color: #ffffff;

  margin-bottom: 18px;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  /* identical to box height, or 119% */

  text-align: center;
  letter-spacing: 0.2px;

  /* Light text */

  color: #ffffff;

  margin-bottom: 27px;
}

.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  text-align: center;
  letter-spacing: 0.2px;

  /* Light text */

  color: #ffffff;
}

#action_content {
  width: fit-content;
  margin: 80px auto 0px;
}

.big_btn {
  width: 236px;
  height: 65px;
  outline: none;
  border: none;
  border: #ffffff solid;
  border-radius: 40px;
  padding: 0px 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #2091f9;
  text-align: center;
  background-color: #ffffff;
}

.hmac {
  width: fit-content;
  margin: 114px auto;
}

.h32 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;

  /* text */

  color: #252b42;
  margin-bottom: 17px;
}

.h12 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  /* identical to box height, or 124% */

  text-align: center;
  letter-spacing: 0.2px;

  /* text */

  color: #252b42;

  margin-bottom: 27px;
}

.h42 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  text-align: center;
  letter-spacing: 0.2px;

  /* second text */

  color: #374754;
}

.second {
  margin-top: 226px;
}

.feature {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin-top: -3px;
}

.feature_items {
  width: 329px;
  display: flex;
  flex-direction: column;
  margin: 201px 0px 0px -38px;
}

.feature_item {
  width: 255px;
}

.headline {
  display: flex;
  align-items: center;
}

.h33 {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  padding-bottom: 3px;
  color: #252b42;
}

.f_i_p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  letter-spacing: 0.2px;

  /* second text */

  color: #374754;
  margin: 12px 0px 88px 1px;
}

.himg {
  margin-right: 10px;
}

.media {
  width: 950px;
}
