html,
body {
  margin: 0px;
  overflow-x: hidden;
}

section {
  width: 1440px;
  margin: 0px auto;
}

.button {
  width: 141px;
  height: 54px;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: auto;
  color: #2091f9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  background-color: #ffffff;
  color: #2091f9;
  text-align: center;
}

.email_input {
  width: 273px;
  outline: none;
  border: none;
  padding: 19px 0px 19px 39px;
  border-radius: 30px;
  background-color: #efefef;
}

.email_input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

/* 
.h1{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.2px;
}
*/

#gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  z-index: -10;
}

.nav {
  margin: 0px auto;
  display: flex;
  list-style: none;
  align-items: center;
  width: 1210px;
  height: 156px;
}

.logo {
  margin-right: 12px;
  margin-left: 20px;
}

.header_right {
  display: flex;
  width: 892px;
}

.menu {
  padding: 0px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 403px;
  margin-left: 10px;
}

.menu li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
}

.actions {
  margin-left: 53px;
  display: flex;
  width: 426px;
  height: 54px;
}

/* #email_input {
  width: 273px;
  outline: none;
  border: none;
  padding: 13px 36px;
  border: #ffffff solid;
  border-radius: 30px;
}

#email_input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
} 
*/

#subscribe_button {
  width: 141px;
  outline: none;
  border: none;
  border: #ffffff solid;
  border-radius: 30px;
  padding: 0px 31px;
  color: #2091f9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  background-color: #ffffff;
  text-align: center;

  margin-left: 12px;
}

.text_content {
  height: 193px;
  margin: 101px auto 0px;
  width: fit-content;
}

.text_content * {
  margin: 0 auto;
  width: fit-content;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 7px;

  padding: 10px;
}

.h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 7px;
  padding: 10px 0px;
}

.h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;

  padding: 10px;
}

#action_content {
  width: fit-content;
  margin: 80px auto 0px;
}

.big_btn {
  width: 236px;
  height: 65px;
  outline: none;
  border: none;
  border: #ffffff solid;
  border-radius: 40px;
  padding: 0px 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #2091f9;
  text-align: center;
  background-color: #ffffff;
}

.hmac {
  width: fit-content;
  margin: 114px auto;
}

.h32 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;

  /* text */

  color: #252b42;
  margin-bottom: 17px;
}

.h12 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  /* identical to box height, or 124% */

  text-align: center;
  letter-spacing: 0.2px;

  /* text */

  color: #252b42;

  margin-bottom: 27px;
}

.h42 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  text-align: center;
  letter-spacing: 0.2px;

  /* second text */

  color: #374754;
}

.second {
  margin-top: 226px;
}

.feature {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin-top: -3px;
}

.feature_items {
  width: 329px;
  display: flex;
  flex-direction: column;
  margin: 201px 0px 0px -38px;
}

.feature_item {
  width: 255px;
}

.headline {
  display: flex;
  align-items: center;
}

.h33 {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  padding-bottom: 3px;
  color: #252b42;
}

.f_i_p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  letter-spacing: 0.2px;

  /* second text */

  color: #374754;
  margin: 12px 0px 88px 1px;
}

.himg {
  margin-right: 10px;
}

.media {
  width: 950px;
}

.hl9 {
  width: 1440px;
  height: 516px;
  margin: 0px auto;
  background-image: url(./assets/Hero\ Light\ 9.png);
}

.third {
  margin: 8px auto 0px;
  padding-top: 100px;
}

.hh3 {
  color: #ffffff;
}

.hh1 {
  color: #ffffff;
}

.hh4 {
  color: #ffffff;
}

.hl9btns {
  margin: 71px auto 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 312px;
  height: 52px;
}

.hl9btn1 {
  width: 124px;
  height: 52px;
}

.hl9btn2 {
  background-color: transparent;
  color: #fff;
  width: 172px;
  height: 48px;
  border-width: 1px;
}

.cta_img {
  width: fit-content;
  height: fit-content;
  margin-left: 119px;
}

.cta {
  margin-top: 216px;
  display: flex;
}

.cta_action {
  margin-top: 25px;
}

.cta_h2 {
  margin-top: 7px;
  margin-bottom: 0px;
}

.cta_h3 {
  margin-top: 53px;
  margin-bottom: 0px;
  color: #18171d;
  text-align: start;
}

.cta_action_h3 {
  text-align: start;
  margin-left: 10px;
  margin-bottom: 2px;
}

.black {
  color: #18171d;
}

.cta_rightblock {
  margin-top: 16px;
  margin-left: 113px;
}

.p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #374754;
  margin-left: 100px;
}

.cta_action_p {
  margin: 0px 0px 0px 10px;
}

.cta_action_form {
  display: inline-block;
  width: 1000px;
  margin-top: 33px;
  margin-left: 10px;
  height: 54px;
}

.ei4 {
  width: 234px;
}

.btn4 {
  border: none;
  width: 150px;
  height: 54px;
  padding: 0px;
  margin: 0px;
  margin-left: 9px;
  color: #fff;
  background-color: #2091f9;
}

.prtnrs {
  margin-top: 189px;
}

.prtnrs_icons {
  margin: 35px auto 0px;
  width: 954.97px;
  display: flex;
  justify-content: space-between;
}

.prtnrs_bt {
  margin: 72px auto 0px;
  width: fit-content;
}

.prtnrs_btn {
  color: #fff;
  background-color: #2091f9;
}

.testimonials {
  margin-top: 181px;
}

.cards {
  display: flex;
  width: 1125px;
  height: 1186.4px;
  margin: -36px auto 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border: #dedede 1px solid;
  border-radius: 10px;
  width: 335px;
  height: 541.2px;
  margin-bottom: 100px;
}

.card_p {
  margin: 10px auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

.card_av {
  width: fit-content;
  margin: 38px auto;
}

.card_stars {
  width: fit-content;
  margin: 37px auto 0px;
}

.h6 {
  margin: 9px auto 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}

.card_name {
  margin: 0px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;

  letter-spacing: 0.2px;

  color: #252b42;
}

.card_footer {
  margin-top: 27px;
  text-align: center;
}
