html,
body {
  margin: 0px;
  overflow-x: hidden;
}

#gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  z-index: -10;
}

#main_header {
  display: flex;
  max-width: 1440px;
  align-items: center;
  height: 156px;
  margin: 0px auto;
  max-width: 1440px;
}

#header_logo {
  display: flex;
  margin-top: 0px;
  margin-left: 135px;
}

#header_list {
  display: flex;
  padding-inline-start: 0px;
}

#header_list li {
  list-style: none;
  color: #ffffff;
  padding: 10px;
  margin: 0px 10.5px;

  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
  letter-spacing: 0.2px;

  text-align: center;
}

#header_list li:first-child {
  margin-left: 12px;
}

/*
#header_list {
  display: flex;
  padding-inline-start: 0px;
}

#header_list li {
  list-style: none;
  color: #ffffff;
  padding: 10px;
  margin: 0px 10.5px;
  font-family: Roboto;
  font-size: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;

  text-align: center;
  letter-spacing: 0.2px;
}

#header_list li:first-child {
  margin-left: 12px;
}
*/

#email_input {
  outline: none;
  border: none;
  margin-left: 10px;
  padding: 16.5px 45px;
  border: #ffffff solid;
  border-radius: 30px;
}

#email_input::placeholder {
  color: black;
}

#email_subscribe {
  display: flex;
  justify-content: space-between;
}

#subscribe_button {
  outline: none;
  border: none;
  border: #ffffff solid;
  border-radius: 30px;
  padding: 16px 38px;
  margin-left: 12px;
  color: #2091f9;
  font-family: Roboto;
  font-size: 16px;
}
